@use "../../styles/sass/variables.scss" as *;

.row {
  display: grid;
  gap: $size-normal;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: $size-normal;
  justify-content: center;
}

.c2button {
  display: inline-block;
  width: 75%;
}

.upgrades {
  display: flex;
  flex-flow: row wrap;
  gap: $size-normal;
}

.challenges {
  display: flex;
  flex-flow: row wrap;
  gap: $size-normal;
}
