@use "../../../styles/sass/variables.scss" as *;

.block {
  width: 100%;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  gap: $size-normal;
}

.title {
  flex: 0 0 10em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.25em;
}

.button {
  flex: 0 0 7em;
}

.map_controls {
  display: flex;
  flex-flow: row nowrap;
  gap: $size-normal;
  justify-content: center;
  align-items: baseline;
}

.void_maps {
  flex-flow: row wrap;
  gap: $size-normal;
  justify-content: flex-start;
  align-items: stretch;
}
