{
  "folders": [
    {
      "path": "."
    }
  ],
  "settings": {
    "files.exclude": {
      "**/.git": true,
      "**/node_modules": true
    }
  },
  "extensions": {
    "recommendations": ["biomejs.biome"]
  }
}
